.container {
    width: 1320px;
    margin: 0 auto;   
}
.box {
width: 516px;
height:75px;
margin-left:2px;
margin-top: 2px;
float: left;
}
.box2 {
    width: 280px;
    height: 75px;
    margin-left:2px;
    margin-top: 2px;
    float: left;
}
